target/classes/mule-esb-example.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:spring="http://www.springframework.org/schema/beans"
	version="EE-3.4.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:jaxws="http://cxf.apache.org/jaxws"
	xmlns:cxf="http://www.mulesoft.org/schema/mule/cxf" xmlns:scripting="http://www.mulesoft.org/schema/mule/scripting"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd 
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://cxf.apache.org/jaxws http://cxf.apache.org/schemas/jaxws.xsd
http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/current/mule-scripting.xsd
http://www.mulesoft.org/schema/mule/cxf http://www.mulesoft.org/schema/mule/cxf/current/mule-cxf.xsd">

	<!-- <spring:bean id="remoteOrderManagementClient" class="org.springframework.remoting.httpinvoker.HttpInvokerProxyFactoryBean"> -->
	<!-- <spring:property name="serviceUrl" value="${remote.url}:${remote.port}/${remote.path}/orderManagementService" /> -->
	<!-- <spring:property name="serviceInterface" value="com.developpez.esb.service.api.IOrderManagementService" /> -->
	<!-- </spring:bean> -->

	<!-- service mock -->
	<spring:bean id="remoteOrderManagementClient" class="com.developpez.esb.service.OrderManagementService" />

	<flow name="main-flow" doc:name="main-flow">
		<http:inbound-endpoint host="0.0.0.0" exchange-pattern="request-response" doc:name="HTTP" path="esb-example/1.0/soap" port="9211" />
		<cxf:jaxws-service serviceClass="org.example.IPurchaseOrder" doc:name="WS Interface" />

		<logger level="INFO" message=" flowVars : #[flowVars]" />

		<set-variable variableName="operation" value="#[flowVars.cxf_operation.localPart]" doc:name="Request Setting" />

		<logger level="INFO" message=" operation : #[operation]" />

		<flow-ref name="#[operation]-flow" />

		<logger level="INFO" message=" payload : #[payload]" />
	</flow>

	<flow name="OrderStatus-flow">
		<logger level="INFO" message="into OrderStatus-flow" />
		<!-- convert the payload from org.example.GetOrderStatusType to com.developpez.esb.dto.OrderDto using CXFAdapter utils -->
		<set-variable variableName="orderDto" value="#[groovy:com.developpez.esb.utils.CXFAdapter.fromGetOrderStatusType(payload)]" />
		<!-- convert the payload from GetOrderStatusType to com.developpez.esb.dto.OrderDto using CXFAdapter utils -->
		<set-payload value="#[groovy:remoteOrderManagementClient.getOrderStatus(orderDto)]" />
		<logger level="INFO" message=" payload : #[payload]" />
		<!-- convert the payload from com.developpez.esb.dto.OrderDto to org.example.GetOrderStatusResponseType using CXFAdapter utils -->
		<set-payload value="#[groovy:com.developpez.esb.utils.CXFAdapter.toGetOrderStatusResponseType(payload)]" />
		<!-- the payload is redirected to the main flow and then to the soap client -->
		<!-- the payload is a org.example.GetOrderStatusResponseType which is the type required by the soap response according to the service -->
	</flow>

	<flow name="Order-flow">
		<logger level="INFO" message="into Order-flow" />
		<set-variable variableName="orderDto" value="#[groovy:com.developpez.esb.utils.CXFAdapter.fromPurchaseOrderType(payload)]" />
		<set-payload value="#[groovy:remoteOrderManagementClient.getOrderConfirmation(orderDto)]" />
		<logger level="INFO" message=" payload : #[payload]" />
		<set-payload value="#[groovy:com.developpez.esb.utils.CXFAdapter.toOrderConfirmationType(payload)]" />
	</flow>

</mule>
